####################################
# Basic settings
####################################

# Base URL of EIC tenant and login credential. If Admin_User & Admin_Password are provided, you will be prompted during execution.
TenantURL=https://xxxxxx.saviyntcloud.com
#Admin_User=
#Admin_Password=
Refresh_Token=

DataFileDir=./

####################################
# Upload user csv file to EIC
# List of users to be created from CSV file
####################################
UsersFileToUpload=users2import.csv
BulkCreateUsersFile=users.csv

####################################
# Create security systems
####################################
# List of security systems to be created from CSV file. Note, it is | separated instead of ,
# NOTE: Create security system API doesn't support password policy assignment.
SecuritySystemFileDelimiter=|
SecuritySystemFile=securitysystems.csv

####################################
# 8. Create endpoints
####################################
# List of endpoints to be created from CSV file. Note, it is | separated instead of ,
EndPointFileDelimiter=|
EndPointFile=endpoints.csv